<ion-view data-comp-id="ionic-view.1">
    <ion-content class="" data-comp-id="ionic-content.1"
        style="background-color: rgb(8, 58, 83);">
        <div data-comp-id="div.1" style="margin: 4% 5%;">
            <div class="row" data-comp-id="row.1">
                <div class="col text-center" data-comp-id="column.1" style="padding: 20px;"><img data-comp-id="image.1" data-img="" ng-src="images/AFS.png"
                    style="width: 30%; margin: 10px;">
                    <div class="" data-comp-id="text.1"
                        style="font-size: 16px; line-height: 25px; font-weight: bold; color: rgb(255, 255, 255);">AFS</div>
                    <div class="" data-comp-id="text.2"
                        style="font-size: 8px; line-height: 25px; font-weight: bold; color: rgb(255, 255, 255);">Version 1.0.0.-alpha01</div>
                </div>
            </div>
        </div>
        <form>
            <div data-comp-id="div.2" style="width: 80%; margin: 2% 10%;">
                <!--User Input-->
                <div class="text-center assertive" data-comp-id="text.3"
                    ng-bind="data.errorMessage" ng-show="data.errorMessage"
                    style="font-size: 14px; font-weight: bold;">Some text</div>
                <div class="row" data-comp-id="row.2">
                    <div class="col" data-comp-id="column.2">
                        <label class="item item-input" data-comp-id="textInput.1"
                            style="border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(74, 129, 148, 0.298039); border-bottom-width: 1px; border-bottom-style: solid; margin: 0px;">
                            <i class="icon placeholder-icon ion-ios-person" style="font-size: 24px;"></i>
                            <input ng-model="data.username" placeholder="Username" type="text">
                        </label>
                        <label class="item item-input" data-comp-id="textInput.2"
                            style="border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(74, 129, 148, 0.298039); border-bottom-width: 1px; border-bottom-style: solid; margin: 0px;">
                            <i class="icon placeholder-icon ion-ios-locked" style="font-size: 24px;"></i>
                            <input ng-model="data.password" placeholder="Password" type="password">
                        </label>
                        <label class="item item-input" data-comp-id="textInput.3"
                            style="border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(74, 129, 148, 0.298039); border-bottom-width: 1px; border-bottom-style: solid; margin: 0px;">
                            <i class="icon placeholder-icon ion-ios-world-outline" style="font-size: 24px;"></i>
                            <select name="domain" ng-model="data.domain" required="" style="color:#B7B7B7">
                                <option disabled="" hidden="" selected="" value="">Domain</option>
                                <option value="Americas">Americas</option>
                                <option value="Asia">Asia</option>
                                <option value="Europe">Europe</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row" data-comp-id="row.3" style="margin: 5% 0%;">
                    <div class="col" data-comp-id="column.3">
                        <input class="button button-block" data-comp-id="button.1" ng-click="login()"
                            style="border-color: rgba(255, 255, 255, 0); background-color: rgb(0, 84, 134); color: rgb(255, 255, 255);"
                            type="submit" value="Login">
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>