<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class=" bar-royal"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1">Menu</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1"
        style="background-color: rgb(255, 255, 255);">
        <div class="list" data-comp-id="ionic-list.1">
            <div class="item" data-comp-id="item.1" menu-close="">
                <div data-comp-id="text.2">About</div>
            </div>
            <div class="item" data-comp-id="item.2" menu-close="" ng-click="app.logout()">
                <div data-comp-id="text.3">
                    Logout
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>